@model VenteBouquin_UIL.Views.VenteBouquin.LivreViewModel

@{
    ViewBag.Title = "DetailLivre";
}

<h2>DetailLivre</h2>

<div>
    <h4>LivreModel</h4>
    <hr />
    <dl class="dl-horizontal " >
        <dt>
            @Html.DisplayName("CodeISBNM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.CodeISBNM)
        </dd>

        <dt>
            @Html.DisplayName("NomLivreM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.NomLivreM)
        </dd>

        <dt>
            @Html.DisplayName("AuteurM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.AuteurM)
        </dd>

        <dt>
            @Html.DisplayName("EditeurM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.EditeurM)
        </dd>

        <dt>
            @Html.DisplayName("CoverImageM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.CoverImageM)
        </dd>

        <dt>
            @Html.DisplayName("PrixM")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.PrixM)
        </dd>
        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivreVM.DescriptionM.DetailM)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>